a, h1, h2, h3{
    font-family: Arial, Helvetica, sans-serif;
}
a{
    font-size: large;
}

#sentences {
    width: 90%;

    margin: auto;
    table-layout: fixed;
    text-align: center;
    border-collapse: collapse;

    overflow: hidden;
}

.no1{
    background-color: coral;
}

.no2{
    background-color: khaki;
}

.no3{
    background-color: cornflowerblue;
}

.cell{
    height: 7vh;
    width: 100%;

    font-size: x-large;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: auto;
    white-space: initial;
    word-wrap: break-word;  
}

#size{
    width: 50%;
    transform: translate(0, 25%)
}

#sizeBtn{
    margin-left: 1vw;
    width: 15vw;
    height: 5vh;
    min-height: 50px;

    font-size: 20px;
}





#insta{
    background: url("images/insta.svg");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    fill: white;
}

#github{
    background: url("images/github.svg");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    fill: white;
}

.navbar {
    font-size: 0;
    width: 90%;
    height: 10vh;

    background-color: #222;
}

.navbar li{
    height: 100%;

    font-size: medium;
    display: inline-flex;
    background-color: #222;
}

.navbar li:hover :not(#title){
    background-color: #333;
    cursor: pointer;
}

.navbar a{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 15px 25px;

    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.center{
    text-align: center;
    display: inline-block;
    width: 100%;
    float: none;
    padding-inline-start: 0;
}
